.header {
    width: 100%;
    height: 86px;
    background: #FFFFFF;
    position: relative;
}

.headerWrapper {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    height: 86px;
    justify-content: space-between;
}

.logo {
    width: 200px;
    height: 68px;
    background: transparent url(public/fomin-clinic.svg) no-repeat center center;
    background-size: contain;
    display: block;
    cursor: pointer;
    pointer-events: none;
}

.logout {
    display: flex;
    align-items: center;
    column-gap: 4px;
    font-size: 16px;
    color: #c5017e;
    width: max-content;
    font-weight: 600;
    cursor: pointer;
}